<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>小丑音乐网</title>
</head>

{% load custom_filters %}
<body>
    <h1>音乐列表</h1>
    <form method="get">
        <input type="text" name="searchMusic" placeholder="搜索音乐" value="{{ searchTerm }}">
        <input type="submit" value="搜索">
    </form>
    {% if music %}
    <ul>
        {% for music_item in music %}
        <li>
            <img src="{{ music_item.poster.url }}" alt="{{ music_item.name }}海报" width="100">
            {% if music_item.media_files.url|file_extension_equals:'.mp3' %}
            <a href="{{ music_item.media_file.url }}" target="_blank">
                {{ music_item.name }}
            </a>
            <audio controls>
                <source src="{{ music_item.media_file.url }}" type="audio/mpeg">
            </audio>
            {% elif music_item.media_files.url|file_extension_equals:'.mkv' %}
            <a href="{{ music_item.media_files.url }}" target="_blank">
                {{ music_item.name }}
            </a>
            <video controls>
                <source src="{{ music_item.media_files.url }}" type="video/x-matroska">
            </video>
            {% endif %}
            <p>歌词: {{ music_item.lyrics }}</p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div>
        {% if music.has_previous %}
            <a href="?page={{ music.previous_page_number }}&searchMusic={{ searchTerm }}">上一页</a>
        {% endif %}
        <span>第 {{ music.number }} 页 / 共 {{ music.paginator.num_pages }} 页</span>
        {% if music.has_next %}
            <a href="?page={{ music.next_page_number }}&searchMusic={{ searchTerm }}">下一页</a>
        {% endif %}
    </div>
    {% if not music %}
        <p>没有找到相关音乐。</p>
    {% endif %}
  <h3 class="mt-5">关注我们</h3>
</body>

</html>